body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(../src/img/1.jpg);
  background-position: center center;
  background-attachment: fixed;
  background-size: contain;
  background-repeat: repeat-x repeat-y;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
a{
  text-decoration: none !important;
}
.imgH{
  transition: all 1s ease;
}
.imgH:hover{
  cursor: pointer;
  transform: scale(1.03);
  transition: all 1s ease;
} 
